<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This was created by NVA.It's using data from Mapbox.com </p>
    <img src="/img/me.png">
    {{>footer}}
</body>

</html>