<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div>{{>header}}
    <p>Use this site to get your weather</p>
    <form placeholder="location">
        <input type="text">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    </div>
    <script src="/js/app.js"></script>
</body>

</html>